body{
    background-color: #183848;
 color:azure;
 display: grid;
 place-content:center;
}
.container{
    /* width:50%; */
    height:auto;
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}
.container ul{
   padding: 0%;

}
.list-items{
    list-style: none;
    padding: 4px;
    margin: 4px;
    background-color: azure;
    color:black;
    font-size: 20px;
    font-weight: 700;
}